<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>pacchetto.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pacchetto.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletOperazioni</servlet-name>
        <servlet-class>pacchetto.servletOperazioni</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openIDServlet</servlet-name>
        <servlet-class>pacchetto.openIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperazioniAmministratore</servlet-name>
        <servlet-class>pacchetto.OperazioniAmministratore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookSocialNetworkingServiceLogin</servlet-name>
        <servlet-class>org.netbeans.saas.facebook.FacebookSocialNetworkingServiceLogin</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FacebookSocialNetworkingServiceCallback</servlet-name>
        <servlet-class>org.netbeans.saas.facebook.FacebookSocialNetworkingServiceCallback</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>SaasServlet</servlet-name>
        <servlet-class>pacchetto.SaasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletOperazioni</servlet-name>
        <url-pattern>/servletOperazioni</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openIDServlet</servlet-name>
        <url-pattern>/openIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperazioniAmministratore</servlet-name>
        <url-pattern>/OperazioniAmministratore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookSocialNetworkingServiceLogin</servlet-name>
        <url-pattern>/auth/FacebookSocialNetworkingServiceLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookSocialNetworkingServiceCallback</servlet-name>
        <url-pattern>/auth/FacebookSocialNetworkingServiceCallback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaasServlet</servlet-name>
        <url-pattern>/SaasServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
