<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>pacchetto.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    <ejb-local-ref>
        <ejb-ref-name>PiattoFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.PiattoFacadeLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#PiattoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PiattoFacade1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.PiattoFacadeLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#PiattoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>MateriaPrimaFacade</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.MateriaPrimaFacadeLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#MateriaPrimaFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PiattoFacade2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.PiattoFacadeLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#PiattoFacade</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestorePiattoBean</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.GestorePiattoBeanLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#GestorePiattoBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestorePiattoBean1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.GestorePiattoBeanLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#GestorePiattoBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestorePiattoBean2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.GestorePiattoBeanLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#GestorePiattoBean</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>GestorePiattoBean3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>Prova.GestorePiattoBeanLocal</local>
        <ejb-link>ProvaProgetto1-ejb.jar#GestorePiattoBean</ejb-link>
    </ejb-local-ref>
    </web-app>
